libtisch.suo
libtisch.dll
libtisch.jar
libtisch.pth
*.o
*.so*
*.class
.*.swp
build/
Debug/
Release/
scripts/*.vcxproj.user
scripts/Debug/
scripts/Release/
scripts/obj/
calibd/calibd
calibd/calibtool
calibd/distort
drivers/evdevd/evdevd
drivers/touchd/touchd
drivers/xi2d/xicursor
drivers/xi2d/xi2d
gispl/gestured
libs/simplegl/gldemo
libs/simplegl/osmdemo
libs/freeglut/
libs/freenect/
widgets/demo
widgets/gispl
widgets/graph
widgets/picview
widgets/slideshow
