libtisch.suo
*.o
*.so*
build/
Debug/
Release/
scripts/*.vcxproj.user
scripts/Debug/
scripts/Release/
scripts/obj/
calibd/calibd
calibd/calibtool
calibd/distort
drivers/evdevd/evdevd
drivers/touchd/touchd
gispl/gestured
libs/simplegl/gldemo
libs/simplegl/osmdemo
widgets/demo
widgets/gispl
widgets/graph
widgets/picview
widgets/slideshow
