libtisch.suo
libtisch.dll
libtisch.jar
*.o
*.so*
*.class
build/
Debug/
Release/
scripts/*.vcxproj.user
scripts/Debug/
scripts/Release/
scripts/obj/
calibd/calibd
calibd/calibtool
calibd/distort
drivers/evdevd/evdevd
drivers/touchd/touchd
gispl/gestured
gispl/generator
libs/simplegl/gldemo
libs/simplegl/osmdemo
libs/freeglut/
libs/freenect/
widgets/demo
widgets/gispl
widgets/graph
widgets/picview
widgets/slideshow
